@using EMS.Views.Identity;
@model IdentityVM;

@{
	ViewData["Title"] = "Employee Management System Login";
	var result = TempData["Login"] ?? "default";
}

<script async src="~/js/Identity/Login.js"></script>

<main id="loginMain">
	<div class="title-wrap">
		<h1>Login</h1>
	</div>

	<form method="post" asp-controller="Identity" asp-action="Login" id="loginForm">
		<div class="input-err-wrap">
			<input asp-for="Email" type="text" id="emailLoginInput" placeholder="email">
			<span id="errEmailLoginInput" class="err hide"></span>
		</div>
		<div class="input-err-wrap">
			<input asp-for="Password" type="text" id="passwordLoginInput" placeholder="password">
			<span id="errPasswordLoginInput" class="err hide"></span>
		</div>
		<button class="btn" type="submit" tabindex="0">Login</button>
		<button class="btn" type="button" tabindex="0" id="demoBtn">Demo User</button>
		<section><a asp-controller="Identity" asp-action="Register" class="login-bot-btn">Create Account</a></section>
		<div class="link-wrap">
			<div><button class="text-btn login-bot-btn" id="forgotPassBtn" type="button" tabindex="0">forgot<br>password?</button></div>
			<div><button class="text-btn login-bot-btn" id="resendEmailConfBtn" type="button" tabindex="0">resend email<br>confirmation?</button></div>
		</div>
	</form>
</main>

<section id="demoModal" class="screen-tint hide">
	<div class="login-modal">
		<h3>Demo Role</h3>
		<form method="post" asp-controller="Identity" asp-action="Login">
			<input asp-for="Email" hidden value="emp@demo.com" />
			<input asp-for="Password" hidden  value="Ab34567*" />
			<button class="btn" type="submit">Employee</button>
		</form>
		<form method="post" asp-controller="Identity" asp-action="Login">
			<input asp-for="Email" hidden value="admin@demo.com" />
			<input asp-for="Password" hidden value="Ab34567*" />
			<button class="btn" type="submit">Admin</button>
		</form>
		<div class="close-btn"><img src="/icons/X_512x512.png" tabindex="0" id="demoCloseBtn"/></div>
	</div>
</section>

<!--For some reason, server-side validation is jumping over client-side validation here-->
<section id="forgotPassModal" class="screen-tint hide">
	<div class="login-modal">
		<h3>Password Recovery</h3>
		@if ((string)result == "recovery_email_sent")
		{
			<script>ToggleModal($("#loginMain"), $("#forgotPassModal"), openModal);</script>
			<div class="confirmation-wrap">
				<span>Check your email to recover your account.</span>
				<div class="confirmation"><div></div><div></div></div>
			</div>
		}
		else
		{
			<form method="post" asp-controller="Identity" asp-action="ForgotPassword" id="recoverPassForm">
				<div class="input-err-wrap">
					<input asp-for="Email" id="forgotPassEmail" placeholder="email" />
					<span id="errforgotPassEmail" class="err errEmail hide"></span>
				</div>
				<button class="btn" type="submit">Recover</button>
			</form>
		}
		<div class="close-btn"><img src="/icons/X_512x512.png" tabindex="0" id="forgotPassCloseBtn"/></div>
	</div>
</section>

<section id="resendEmailConfModal" class="screen-tint hide">
	<div class="login-modal">
		<h3>Resend Email Confirmation</h3>
		@if ((string)result == "conf_email_sent")
		{
			<script>ToggleModal($("#loginMain"), $("#resendEmailConfModal"), openModal);</script>
			<div class="confirmation-wrap">
				<span>Check your email to confirm your account.</span>
				<div class="confirmation"><div></div><div></div></div>
			</div>
		}
		else
		{
			<form method="post" asp-controller="Identity" asp-action="ResendEmailConf" id="resendEmailConfForm">
				<div class="input-err-wrap">
					<input asp-for="Email" id="resendEmailConfEmail" placeholder="email" />
					<span id="errResendEmailConfEmail" class="err errEmail hide"></span>
				</div>
				<button class="btn" type="submit">Resend Confirmation</button>
			</form>
		}
		<div class="close-btn"><img src="/icons/X_512x512.png" tabindex="0" id="resendEmailConfCloseBtn"/></div>
	</div>
</section>
