@using EMS.Views.Identity;
@model IdentityVM;

@{
	ViewData["Title"] = "Employee Management System Login";
	var result = TempData[Str.Login] ?? "default";
	var cleanLogin = (bool)ViewData["test"];
}

<script async src="~/js/Identity/Login.js"></script>

<main id="loginMain">
	@if (cleanLogin == false)
	{
			<form method="post" asp-controller="Identity" asp-action="Logout" class="hide" id="cleanLoginForm"></form>
	}

	<div class="title-wrap">
		<h1>Login</h1>
	</div>

	<form method="post" asp-controller="Identity" asp-action="Login" id="loginForm">
		<div class="input-err-wrap">
			<input asp-for="Email" type="text" id="loginEmail" placeholder="email">
			<span id="loginEmailErr" class="err hide"></span>
			<span id="errEmailFailedLogin" class="err hide"></span>
		</div>
		<div class="input-err-wrap">
			<input asp-for="Password" type="password" id="loginPassword" placeholder="password">
			<span id="loginPasswordErr" class="err hide"></span>
			<img tabindex="0" id="hidePassBtn" src="~/icons/passInvisible_512x512.png">
			<img tabindex="0" id="showPassBtn" src="~/icons/passVisible_512x512.png" class="hide">
			<span id="errPasswordFailedLogin" class="err hide"></span>
		</div>
		<button class="btn" type="submit" tabindex="0">Login</button>
		<button class="btn" type="button" tabindex="0" id="demoBtn">Demo User</button>
		<section><a asp-controller="Identity" asp-action="Register" class="login-bot-btn">Create Account</a></section>
		<div class="link-wrap">
			<div><button class="text-btn login-bot-btn" id="forgotPassBtn" type="button" tabindex="0">forgot<br>password?</button></div>
			<div><button class="text-btn login-bot-btn" id="resendEmailConfBtn" type="button" tabindex="0">resend email<br>confirmation?</button></div>
		</div>
	</form>

	@if ((string)result == Str.failed_login_attempt)
	{
		<div class="failed-login hide"></div>
	}
</main>

<section id="demoModal" class="screen-tint hide">
	<div class="login-modal">
		<h3>Demo Role</h3>
		<form method="post" asp-controller="Identity" asp-action="Login">
			<input asp-for="Email" hidden value="emp@demo.com" id="employeeEmail"/>
			<input asp-for="Password" hidden value="Ab34567*" id="employeePassword" />
			<button class="btn" type="submit">Employee</button>
		</form>
		<form method="post" asp-controller="Identity" asp-action="Login">
			<input asp-for="Email" hidden value="admin@demo.com" id="adminEmail"/>
			<input asp-for="Password" hidden value="Ab34567*" id="adminPassword"/>
			<button class="btn" type="submit">Admin</button>
		</form>
		<div class="close-btn"><img src="/icons/X_512x512.png" tabindex="0" id="demoCloseBtn"/></div>
	</div>
</section>

<!--For some reason, server-side validation is jumping over client-side validation here-->
<section id="forgotPassModal" class="screen-tint hide">
	<div class="login-modal">
		<h3>Password Recovery</h3>
		@if ((string)result == Str.recovery_email_sent)
		{
			<div class="confirmation-wrap">
				<span>Check your email to recover your account.</span>
				<div class="confirmation"><div></div><div></div></div>
			</div>
		}
		else
		{
			<form method="post" asp-controller="Identity" asp-action="ForgotPassword" id="recoverPassForm">
				<div class="input-err-wrap">
					<input asp-for="Email" id="loginForgotPassEmail" placeholder="email" />
					<span id="loginForgotPassEmailErr" class="err errEmail hide"></span>
				</div>
				<button class="btn" type="submit">Recover</button>
			</form>
		}
		<div class="close-btn"><img src="/icons/X_512x512.png" tabindex="0" id="forgotPassCloseBtn"/></div>
	</div>
</section>

<section id="resendEmailConfModal" class="screen-tint hide">
	<div class="login-modal">
		<h3>Resend Email Confirmation</h3>
		@if ((string)result == Str.conf_email_sent)
		{
			<div class="confirmation-wrap">
				<span>Check your email to confirm your account.</span>
				<div class="confirmation"><div></div><div></div></div>
			</div>
		}
		else
		{
			<form method="post" asp-controller="Identity" asp-action="ResendEmailConf" id="resendEmailConfForm">
				<div class="input-err-wrap">
					<input asp-for="Email" id="loginResendEmailConfEmail" placeholder="email" />
					<span id="loginResendEmailConfEmailErr" class="err errEmail hide"></span>
				</div>
				<button class="btn" type="submit">Resend Confirmation</button>
			</form>
		}
		<div class="close-btn"><img src="/icons/X_512x512.png" tabindex="0" id="resendEmailConfCloseBtn"/></div>
	</div>
</section>
