@using EMS.Views.Identity;
@model IdentityVM;

@{
	ViewData["Title"] = "Register Account";
	var result = TempData[Str.Register] ?? "Register Account";
}

<script async src="~/js/Identity/Register.js"></script>

<main id="registerMain">
	<div class="title-wrap">
		<h1>@result</h1>
	</div>
	@if ((string)result == "Account Created")
	{
		<div class="confirmation-wrap">
			<span>Check your email to confirm your account.</span>
			<div class="confirmation"><div></div><div></div></div>
		</div>
	}
	else
	{
		<form method="post" asp-controller="Identity" asp-action="Register" id="registerForm">
			<div class="register-card-wrap">
				<section id="mobilePage1">
					<h2>Personal Info</h2>
					<div class="input-err-wrap">
						<input asp-for="Email" id="registerEmail" type="text" placeholder="email">
						<span id="registerEmailErr" class="err hide"></span>
					</div>
					<div class="input-err-wrap">
						<input asp-for="FirstName" id="registerFirstName" type="text" placeholder="first name">
						<span id="registerFirstNameErr" class="err hide"></span>
					</div>
					<div class="input-err-wrap">
						<input asp-for="LastName" id="registerLastName" type="text" placeholder="last name">
						<span id="registerLastNameErr" class="err hide"></span>
					</div>
					<div class="input-err-wrap">
						<input asp-for="CellPhone" id="registerPhoneNumber" type="text" placeholder="cell phone">
						<span id="registerPhoneNumberErr" class="err hide"></span>
					</div>
					<div class="input-err-wrap-date">
						DOB: <input asp-for="DOB" id="registerDOB" type="date">
						<span id="registerDOBErr" class="err hide"></span>
					</div>
					<div class="mobile-ele mobile-pagination-container">
						<div class="disable"><img src="~/icons/paginationLeft_512x512.png" /></div>
						<div class="btn text-btn"><img tabindex="0" id="mobilePaginationRight1" src="~/icons/paginationRight_512x512.png" /></div>
						<label>1 of 3</label>
					</div>
				</section>

				<section id="mobilePage2">
					<h2>Address</h2>
					<div class="input-err-wrap">
						<input asp-for="StreetAddress" id="registerStreetAddress" type="text" placeholder="street address">
						<span id="registerStreetAddressErr" class="err hide"></span>
					</div>
					<div class="input-err-wrap">
						<input asp-for="City" id="registerCity" type="text" placeholder="city">
						<span id="registerCityErr" class="err hide"></span>
					</div>
					<div class="input-err-wrap">
						<input asp-for="State" id="registerState" type="text" placeholder="state">
						<span id="registerStateErr" class="err hide"></span>
					</div>
					<div class="input-err-wrap">
						<input asp-for="PostalCode" id="registerPostalCode" type="text" placeholder="zip code">
						<span id="registerPostalCodeErr" class="err hide"></span>
					</div>

					<div class="radio-wrap">
						<div>
							<label>Role:</label>
						</div>
						<div class="role-input-wrap">
						@foreach (var role in Str.Roles)
						{
							<label>
								<input asp-for="Role" type="radio" value="@role" id="@role"
									checked="checked"> &nbsp;@role
							</label>
						}
						</div>

					</div>
					<div class="mobile-ele mobile-pagination-container">
						<div class="btn text-btn"><img tabindex="0" id="mobilePaginationLeft2" src="~/icons/paginationLeft_512x512.png" /></div>
						<div class="btn text-btn"><img tabindex="0" id="mobilePaginationRight2" src="~/icons/paginationRight_512x512.png" /></div>
						<label>2 of 3</label>
					</div>
				</section>

				<section id="mobilePage3">
					<h2 class="pass-title">Password</h2>

					<div class="input-err-wrap">
						<input asp-for="Password" id="registerPassword" type="password" placeholder="password">
						<span id="registerPasswordErr" class="err hide"></span>
						<img tabindex="0" id="hidePassBtn" src="~/icons/passInvisible_512x512.png">
						<img tabindex="0" id="showPassBtn" src="~/icons/passVisible_512x512.png" class="hide">
					</div>
					<div class="input-err-wrap">
						<input id="registerConfirmPassword" type="password" placeholder="repeat password">
						<span id="registerConfirmPasswordErr" class="err hide"></span>
						<img tabindex="0" id="hideRepeatPassBtn" src="~/icons/passInvisible_512x512.png">
						<img tabindex="0" id="showRepeatPassBtn" src="~/icons/passVisible_512x512.png" class="hide">
					</div>

					<div class="requirement-wrap">
						<div class="requirements">
							<div id="charMinConfirmation" class="invalid"><div></div><div></div></div>
							<label>at least 8 characters</label>
						</div>
						<div class="requirements">
							<div id="charLowerConfirmation" class="invalid"><div></div><div></div></div>
							<label>at least 1 lowercase letter</label>
						</div>
						<div class="requirements">
							<div id="charUpperConfirmation" class="invalid"><div></div><div></div></div>
							<label>at least 1 uppercase letter</label>
						</div>
						<div class="requirements">
							<div id="charNumberConfirmation" class="invalid"><div></div><div></div></div>
							<label>at least 1 number</label>
						</div>
					</div>

					<div class="mobile-ele mobile-pagination-container">
						<div class="btn text-btn"><img tabindex="0" id="mobilePaginationLeft3" src="~/icons/paginationLeft_512x512.png" /></div>
						<div class="disable"><img src="~/icons/paginationRight_512x512.png" /></div>
						<label>3 of 3</label>
					</div>
				</section>
			</div>
			<div class="create-acc-btn-wrap">
				<button type="submit" class="btn">Create Account</button>
			</div>
			<a asp-controller="Identity" asp-action="Login" class="btn backBtn">Back</a>
		</form>
	}
</main>
