@using EMS.Views.Identity;
@model IdentityVM;

@{
	ViewData["Title"] = "Reset Password";
	var result = TempData["Code"];
	string code = (string)result;
}

<script async src="~/js/Identity/ResetPassword.js"></script>

<main id="resetPasswordMain">
	<div class="title-wrap">
		<h1>Reset Password</h1>
	</div>
	<form method="post" asp-controller="Identity" asp-action="ResetPassword" id="resetPasswordForm">
		<section>
			<input asp-for="Code" type="hidden" value="@code" />
			<div class="input-err-wrap">
				<input asp-for="Email" type="text" id="resetPassEmail" placeholder="email" />
				<span id="resetPassEmailErr" class="err hide"></span>
			</div>
			<div class="input-err-wrap">
				<input asp-for="Password" type="password" id="resetPassPassword" placeholder="new password">
				<span id="resetPassPasswordErr" class="err hide"></span>
				<img tabindex="0" id="hidePassBtn" src="~/icons/passInvisible_512x512.png">
				<img tabindex="0" id="showPassBtn" src="~/icons/passVisible_512x512.png" class="hide">
			</div>
			<div class="input-err-wrap">
				<input type="password" id="resetPassConfirmPassword" placeholder="repeat password">
				<span id="resetPassConfirmPasswordErr" class="err hide"></span>
				<img tabindex="0" id="hideRepeatPassBtn" src="~/icons/passInvisible_512x512.png">
				<img tabindex="0" id="showRepeatPassBtn" src="~/icons/passVisible_512x512.png" class="hide">
			</div>

			<div class="requirement-wrap">
				<div class="requirements">
					<div id="charMinConfirmation" class="invalid"><div></div><div></div></div>
					<label>at least 8 characters</label>
				</div>
				<div class="requirements">
					<div id="charLowerConfirmation" class="invalid"><div></div><div></div></div>
					<label>at least 1 lowercase letter</label>
				</div>
				<div class="requirements">
					<div id="charUpperConfirmation" class="invalid"><div></div><div></div></div>
					<label>at least 1 uppercase letter</label>
				</div>
				<div class="requirements">
					<div id="charNumberConfirmation" class="invalid"><div></div><div></div></div>
					<label>at least 1 number</label>
				</div>
			</div>
		</section>

		<div class="reset-login-btn-wrap">
			<button type="submit" class="btn">Reset and login</button>
		</div>
	</form>
</main>
