@using System.Security.Claims;
@using EMS.Views.Identity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMS</title>
    <link rel="icon" href="/icons/EMS_favicon.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/enterTimecard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reviewTimecard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/editPersonalInfo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/personalInfo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/manageUsers.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/myTimecards.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script async src="~/js/Site.js"></script>
    <script src="~/js/Validation.js"></script>
</head>
<body>
    <div class="no-js-warning">This application relies heavily on javascript - please ensure it's enabled in your browser and refresh the page.</div>
    <script>$(".no-js-warning").remove();</script>

    <nav>
      <div class="nav-btn" id="myTimecardsNavBtn"><a asp-controller="Timecard" asp-action="MyTimecards">My Timecards</a></div>
      @if (User.IsInRole(Str.Admin))
      {
        <div class="nav-btn" id="manageUsersNavBtn"><a asp-controller="Timecard" asp-action="ManageUsers">Manage Users</a></div>
      }
      <div class="profile-link"><a asp-controller="Timecard" asp-action="PersonalInfo">@User.Identity.Name</a></div>
      <form method="post" asp-controller="Identity" asp-action="Logout" class="logout-form">
        <div class="logout-btn"><button type="submit" class="text-btn">Logout</button></div>
      </form>

      <div class="mobile-ele btn text-btn mobile-nav-btn"><img tabindex="0" id="mobileNavBtn" src="~/icons/hamburgerMenu_512x512.png"></div>
      <div id="mobileNavContainer" class="mobile-ele mobileNavContainer">

      </div>
    </nav>
    <div class="nav-space"></div>

    <main role="main" id="timecardMain">
        @RenderBody()
    </main>
</body>
</html>
