@model AppUser;

@{
  ViewData["Title"] = "Edit Personal Information";
}

<script async src="~/js/Timecard/EditPersonalInfo.js"></script>

<main id="editPersonalInfo">
  <div class="title-wrap">
    <h1>Personal Information</h1>
  </div>

  <form asp-controller="Timecard" asp-action="EditPersonalInfo" id="editPersonalInfoForm" class="top-section">
    <div class="info-card" id="mobilePage1">
      <label>General:</label>
      <div class="input-err-wrap">
        <input asp-for="FirstName" type="text" id="editPersonalInfoFirstName" placeholder="first name">
        <span id="editPersonalInfoFirstNameErr" class="err hide"></span>
      </div>
      <div class="input-err-wrap">
        <input asp-for="LastName" type="text" id="editPersonalInfoLastName" placeholder="last name">
        <span id="editPersonalInfoLastNameErr" class="err hide"></span>
      </div>
      <div class="input-err-wrap-date">
        <input asp-for="Dob" type="date" id="editPersonalInfoDOB" placeholder="DOB">
        <span id="editPersonalInfoDOBErr" class="err hide"></span>
      </div>

      <div class="mobile-ele mobile-pagination-container">
        <div tabindex="0" class="disable"><img src="~/icons/paginationLeft_512x512.png" /></div>
        <div tabindex="0" class="btn text-btn" id="mobilePaginationRight1"><img src="~/icons/paginationRight_512x512.png" /></div>
        <label>1 of 3</label>
      </div>
    </div>


    <div class="info-card" id="mobilePage2">
      <label>Address:</label>
      <div class="input-err-wrap">
        <input asp-for="StreetAddress" type="text" id="editPersonalInfoStreetAddress" placeholder="street address">
        <span id="editPersonalInfoStreetAddressErr" class="err hide"></span>
      </div>
      <div class="input-err-wrap">
        <input asp-for="City" type="text" id="editPersonalInfoCity" placeholder="city">
        <span id="editPersonalInfoCityErr" class="err hide"></span>
      </div>
      <div class="input-err-wrap">
        <input asp-for="State" type="text" id="editPersonalInfoState" placeholder="state">
        <span id="editPersonalInfoStateErr" class="err hide"></span>
      </div>
      <div class="input-err-wrap">
        <input asp-for="PostalCode" type="text" id="editPersonalInfoPostalCode" placeholder="postal code">
        <span id="editPersonalInfoPostalCodeErr" class="err hide"></span>
      </div>

      <div class="mobile-ele mobile-pagination-container">
        <div tabindex="0" class="btn text-btn" id="mobilePaginationLeft2"><img src="~/icons/paginationLeft_512x512.png" /></div>
        <div tabindex="0" class="btn text-btn" id="mobilePaginationRight2"><img src="~/icons/paginationRight_512x512.png" /></div>
        <label>2 of 3</label>
      </div>
    </div>


    <div class="info-card" id="mobilePage3">
      <label>Contact:</label>
      <div class="input-err-wrap">
        <input asp-for="PhoneNumber" type="text" id="editPersonalInfoPhoneNumber" placeholder="phone number">
        <span id="editPersonalInfoPhoneNumberErr" class="err hide"></span>
      </div>
      <div class="input-err-wrap">
        <input asp-for="Email" type="text" id="editPersonalInfoEmail" placeholder="email">
        <span id="editPersonalInfoEmailErr" class="err hide"></span>
      </div>

      <div class="mobile-ele mobile-pagination-container">
        <div tabindex="0" class="btn text-btn" id="mobilePaginationLeft3"><img src="~/icons/paginationLeft_512x512.png" /></div>
        <div tabindex="0" class="disable"><img src="~/icons/paginationRight_512x512.png" /></div>
        <label>3 of 3</label>
      </div>
    </div>

    <input asp-for="Id" type="hidden">
  </form>

  <section class="bot-section">
    <button type="submit" form="editPersonalInfoForm" class="btn">Save</button>
    <a asp-controller="Timecard" asp-action="PersonalInfo" asp-route-appUserId="@Model.Id" class="btn">Close</a>
  </section>
</main>
