@{
    ViewData["Title"] = "Enter Timecard";
}

<script async src="~/js/EnterTimesheet.js"></script>

<main id="enterTimecard">
  <div class="title-wrap">
    <h1>Timecard For Brianna Brooks</h1>
  </div>

  <div class="info-panel">
    <label>Status: Incomplete</label>
    <label id="weeklyTotalHours">Hours for the week:</label>
  </div>

  <section class="bot-section">
    <div class="timecard-div-table">
      <div class="header">
        <div>Date</div>
        <div>Time In</div>
        <div>Time Out</div>
        <div>Daily Hours</div>
      </div>
      <div class="workday-row">
        <div>Mon, Jan 1</div>
        <div><select id="timeInDropdown0"></select></div>
        <div><select id="timeOutDropdown0"></select></div>
        <div id="hours0">0</div>
      </div>
      <div class="workday-row offRow">
        <div>Tues, Jan 2</div>
        <div><select id="timeInDropdown1"></select></div>
        <div><select id="timeOutDropdown1"></select></div>
        <div id="hours1">0</div>
      </div>
      <div class="workday-row">
        <div>Wed, Jan 3</div>
        <div><select id="timeInDropdown2"></select></div>
        <div><select id="timeOutDropdown2"></select></div>
        <div id="hours2">0</div>
      </div>
      <div class="workday-row offRow">
        <div>Thurs, Jan 4</div>
        <div><select id="timeInDropdown3"></select></div>
        <div><select id="timeOutDropdown3"></select></div>
        <div id="hours3">0</div>
      </div>
      <div class="workday-row">
        <div>Fri, Jan 5</div>
        <div><select id="timeInDropdown4"></select></div>
        <div><select id="timeOutDropdown4"></select></div>
        <div id="hours4">0</div>
      </div>
    </div>

    <div class="control-panel">
      <select>
        <option value="1">Jan 1, 2024 - Jan 5, 2024</option>
        <option value="2">Jan 8, 2024 - Jan 12, 2024</option>
        <option value="3">Jan 15, 2024 - Jan 19, 2024</option>
        <option value="4">Jan 22, 2024 - Jan 26, 2024</option>
        <option value="5">Jan 29, 2024 - Feb 2, 2024</option>
        <option value="6">Feb 5, 2024 - Feb 9, 2024</option>
        <option value="7">Feb 12, 2024 - Feb 16, 2024</option>
        <option value="8">Feb 19, 2024 - Feb 23, 2024</option>
        <option value="9">Feb 26, 2024 - Mar 1, 2024</option>
        <option value="10">Mar 4, 2024 - Mar 8, 2024</option>
        <option value="11">Mar 11, 2024 - Mar 15, 2024</option>
        <option value="12">Mar 18, 2024 - Mar 22, 2024</option>
        <option value="13">Mar 25, 2024 - Mar 29, 2024</option>
      </select>
      <a asp-controller="Timecard" asp-action="EnterTimecard" id="saveBtn" class="btn">Save</a>
      <a asp-controller="Timecard" asp-action="EnterTimecard" id="submitBtn" class="btn">Submit</a>
    </div>
  </section>
</main>
