/*
  HTML guide for sorting <th>

  <th class="sortable-th" id="thFirstName">First Name</th>
  <tbody id="manageUsersTbody">
    <tr id="manageUsersTR_@i">
      <td class="sortFirstName">Albert</td>
*/
#loginMain .title-wrap {
  margin: 7vh 0vw;
}
#loginMain h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 7vh;
}
#loginMain form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 60vh;
  margin: 0 auto;
  background-color: #4C5760;
  box-shadow: 0 0 0.4em 0.2em #4C5760;
  border-radius: 0.6em;
  transition: width 0.25s;
}
#loginMain form .input-err-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 5vh;
  position: relative;
  margin: 2vh 0vw;
}
#loginMain form .input-err-wrap input {
  width: 100%;
  height: 100%;
  border-radius: 0.6em;
  text-indent: 5%;
  font-size: 1em;
}
#loginMain form .input-err-wrap img {
  height: 1.8em;
  width: 1.8em;
  min-height: 1.8em;
  min-width: 1.8em;
  border-radius: 50%;
  position: absolute;
  right: 3%;
  cursor: pointer;
}
#loginMain form button {
  width: 50%;
  height: 5vh;
  margin: 1vh 0vw;
  border-radius: 0.25em;
  padding: 0px;
}
#loginMain form .login-bot-btn {
  font-size: 0.9em;
  text-align: center;
  text-decoration: underline;
}
#loginMain form section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 6vh;
  margin-top: 2vh;
}
#loginMain form .link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 12vh;
}
#loginMain form .link-wrap div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}
#loginMain form .link-wrap div + div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
}
#loginMain .failed-login-err {
  top: 43.8%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 768px) {
  #loginMain form {
    width: 80vw;
  }
}

@media (max-width: 768px) {
  #identityMain .login-modal {
    width: 70vw;
  }
}

.login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 30vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: #4C5760;
  border-radius: 1em;
  box-shadow: 0 0 0.2em 0.1em #4C5760;
  justify-content: center;
  transition: width 0.25s;
}
.login-modal h3 {
  font-size: 1.8em;
  width: 80%;
  text-align: center;
  margin-top: 1.5vh;
}
.login-modal form {
  width: 60%;
  margin: 1% 0%;
}
.login-modal form .input-err-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  position: relative;
  margin: 2vh 0vw;
}
.login-modal form .input-err-wrap input {
  width: 100%;
  height: 100%;
  border-radius: 0.6em;
  text-indent: 5%;
  font-size: 1em;
}
.login-modal form button {
  width: 100%;
  border-radius: 0.3em;
}
.login-modal .confirmation-wrap {
  width: 100%;
}
.login-modal .confirmation-wrap .confirmation {
  margin-top: 2vh;
}
.login-modal .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  top: 5%;
  right: 5%;
  margin: 0em 0.5em;
  background-color: white;
  cursor: pointer;
  border-radius: 1em;
  margin: 0;
  top: 10%;
}
.login-modal .close-btn img {
  height: 2.4em;
  width: 2.4em;
  min-height: 2.4em;
  min-width: 2.4em;
  border-radius: 50%;
}

/*# sourceMappingURL=login.css.map */
