/*
  HTML guide for sorting <th>

  <th class="sortable-th" id="thFirstName">First Name</th>
  <tbody id="manageUsersTbody">
    <tr id="manageUsersTR_@i">
      <td class="sortFirstName">Albert</td>
*/
#resetPasswordMain .title-wrap {
  margin: 4vh 0vw;
}
#resetPasswordMain form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#resetPasswordMain form section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 60vh;
  margin: 0vh auto;
  background-color: #4C5760;
  box-shadow: 0 0 0.2em 0.2em #4C5760;
  border-radius: 0.6em;
  transition: width 0.25s;
}
#resetPasswordMain form section .input-err-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 5vh;
  position: relative;
  margin: 2vh 0vw;
}
#resetPasswordMain form section .input-err-wrap input {
  width: 100%;
  height: 100%;
  border-radius: 0.6em;
  text-indent: 5%;
  font-size: 1em;
}
#resetPasswordMain form section .input-err-wrap img {
  height: 1.2em;
  width: 1.2em;
  min-height: 1.2em;
  min-width: 1.2em;
  border-radius: 50%;
  position: absolute;
  right: 3%;
  cursor: pointer;
}
#resetPasswordMain form section .requirement-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  height: 28vh;
}
#resetPasswordMain form section .requirement-wrap .requirements {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 7vh;
  margin: 0.85vh 2vw;
}
#resetPasswordMain form section .requirement-wrap .requirements .valid {
  height: 1.8em;
  width: 1.8em;
  min-height: 1.8em;
  min-width: 1.8em;
  border-radius: 50%;
  background-color: #17993c;
  position: relative;
  margin: 0 auto;
  margin: 0vh 1vw 0vh 0vw;
}
#resetPasswordMain form section .requirement-wrap .requirements .valid div {
  background-color: #F9F9F9;
  border-radius: 0.4em;
  position: absolute;
  width: 0.1494em;
  height: 0.5994em;
  top: 72%;
  left: 19%;
  transform: translate(-20%, -65%) rotate(-45deg);
}
#resetPasswordMain form section .requirement-wrap .requirements .valid div + div {
  width: 0.1494em;
  height: 1.35em;
  top: 15%;
  left: 55%;
  transform: translate(-55%, 0%) rotate(45deg);
}
#resetPasswordMain form section .requirement-wrap .requirements .invalid {
  height: 1.8em;
  width: 1.8em;
  min-height: 1.8em;
  min-width: 1.8em;
  border-radius: 50%;
  background-color: #781d1d;
  position: relative;
  box-shadow: inset 0 0 0.1em 0.1em #781d1d;
  margin: 0 auto;
  margin: 0vh 1vw 0vh 0vw;
}
#resetPasswordMain form section .requirement-wrap .requirements .invalid div {
  width: 0.1494em;
  height: 1.28574em;
  background-color: #F9F9F9;
  border-radius: 0.4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
#resetPasswordMain form section .requirement-wrap .requirements .invalid div + div {
  transform: translate(-50%, -50%) rotate(45deg);
}
#resetPasswordMain form .reset-login-btn-wrap {
  margin-top: 5vh;
}
@media (max-width: 768px) {
  #resetPasswordMain form section {
    width: 80vw;
  }
}

/*# sourceMappingURL=resetPassword.css.map */
