@import "../library.scss";
  
#myTimecards {
  .table-wrap {
    @include TableWrap(80vw, 60vh, $cTableRow, $cTableRowOff, $cHeader, $cHighlightStrong, false);
    margin: 0 auto;
    .status-wrap {
      margin: 0% 26%;
    }
  }
}

#timecardMain {
  // mobile styles
  @media (max-width: $bmaxTablet) {
    .table-wrap{
      .status-wrap {
        justify-content: center;
      }
    }
  }
}
