@import "../library.scss";

#personalInfo {
  .top-section {
    @include Flex-Row(center, center, 80vw, 50vh);
    margin: 5vh auto;
    .info-card {
      @include Flex-Col(center, flex-start, 20vw, 45vh);
      background-color: $cHeader;
      border-radius: 1.2em;
      margin: 0px 2vw;
      label {
        margin: 1.5vh 0vw;
        width: 16vw;
        margin: 1.5vh 0vw;
        text-align: center;
      }
    }
  }

  // mobile styles
  @media (max-width: $bmaxTablet) {
    .top-section {
      position: relative;
      width: 100vw;
      height: 60vh;
      .info-card {
        width: 100vw;
        margin: 0px;
        position: absolute;
        top: 0vh;
        left: 0vw;
      }
      .create-acc-btn-wrap {
        margin-top: 5vh;
      }
    }

    .title-wrap {
      a {
        right: 10vw;
      }
    }
  }
  .mobile-pagination-container {
    @include Flex-Row(center, center, 8vw, 5vw);
    background-color: $cWhite;
    position: absolute;
    top: 3vh;
    right: 1vw;
    div {
      @include Flex-Row(center, center, 100%, 100%);
      padding: 0px;
      font-size: 1em;
      img {
        @include Img-Round(1.2em);
      }
    }
    label {
      position: absolute;
      left: -15vw;
    }
  }
}
