@import "../library.scss";

#personalInfo {
  .top-section {
    @include Flex-Row(center, center, 80vw, 50vh);
    margin: 5vh auto;
    .info-card {
      @include Flex-Col(center, flex-start, 20vw, 45vh);
      background-color: $cHeader;
      border-radius: 1.2em;
      margin: 0px 2vw;
      label {
        margin: 1.5vh 0vw;
        width: 16vw;
        margin: 1.5vh 0vw;
        text-align: center;
      }
    }
  }
}
