@import "../library.scss";

#loginMain {
  .title-wrap {
    margin: 7vh 0vw;
  }
  h1 {
    @include Flex-Row(center, center);
    margin: 7vh;
  }
  form {
    @include Flex-Col(center, center, 30vw, 60vh);
    margin: 0 auto;
    background-color: $cHeader;
    box-shadow: 0 0 0.4em 0.2em $cHeader;
    border-radius: 0.6em;
    transition: width 0.25s;
    .input-err-wrap {
      @include Flex-Row(center, center, 80%, 5vh);
      position: relative;
      margin: 2vh 0vw;
      input {
        @include WidthHeight(100%, 100%);
        border-radius: 0.6em; 
        text-indent: 5%;
        font-size: 1em;
      }
      img {
        @include Img-Round(1.8em);
        position: absolute;
        right: 3%;
        cursor: pointer;
      }
    }
    button {
      @include WidthHeight(50%, 5vh);
      margin: 1vh 0vw;
      border-radius: 0.25em;
      padding: 0px;
    }
    .login-bot-btn {
      font-size: 0.9em;
      text-align: center;
      text-decoration: underline;
    }
    section {
      @include Flex-Row(center, center, 80%, 6vh);
      margin-top: 2vh;
    }
    .link-wrap {
      @include Flex-Row(center, center, 80%, 12vh);
      div {
        @include Flex-Row(flex-start, center, 50%, 100%);
      }
      div + div { @include Flex-Row(flex-end, center, 50%, 100%); }
    }
  }

  .failed-login-err {
    top: 43.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  // mobile styles
  @media (max-width: $bmaxTablet) {
    form {
      width: 80vw;
    }
  }
}

#identityMain {
  // mobile styles for modals
  @media (max-width: $bmaxTablet) {
    .login-modal {
      width: 70vw;
    }
  }
}

.login-modal{
  @include Modal(30vw, 30vh, $cHeader);
  justify-content: center;
  transition: width 0.25s;
  h3{
    font-size: 1.8em;
    width: 80%;
    text-align: center;
    margin-top: 1.5vh;
  }
  form{
    width: 60%;
    margin: 1% 0%;
    .input-err-wrap {
      @include Flex-Row(center, center, 100%, 5vh);
      position: relative;
      margin: 2vh 0vw;
      input {
        @include WidthHeight(100%, 100%);
        border-radius: 0.6em; 
        text-indent: 5%;
        font-size: 1em;
      }
    }
    button{
      width: 100%;
      border-radius: 0.3em;
    }
  }
  .confirmation-wrap {
    width: 100%;
    .confirmation {
      margin-top: 2vh;
    }
  }
  .close-btn{
    @include CloseBtn(2.4em);
    margin: 0;
    top: 10%;
  }
}
