@import "../library.scss";

#resetPasswordMain {
  .title-wrap {
    margin: 4vh 0vw;
  }
  form {
    @include Flex-Col(center, center, 100%, 100%);
    section {
      @include Flex-Col(center, center, 30vw, 60vh);
      margin: 0vh auto;
      background-color: $cHeader;
      box-shadow: 0 0 0.2em 0.2em $cHeader;
      border-radius: 0.6em;
      transition: width 0.25s;
      .input-err-wrap {
        @include Flex-Row(center, center, 80%, 5vh);
        position: relative;
        margin: 2vh 0vw;
        input {
          @include WidthHeight(100%, 100%);
          border-radius: 0.6em; 
          text-indent: 5%;
          font-size: 1em;
        }
        img {
          @include Img-Round(1.2em);
          position: absolute;
          right: 3%;
          cursor: pointer;
        }
      }
      .requirement-wrap {
        @include Flex-Col(flex-start, center, 80%, 28vh);
        .requirements {
          @include Flex-Row(flex-start, center, 100%, 7vh);
          margin: 0.85vh 2vw;
          .valid {
            @include Confirmation(1.8em);
            margin: 0vh 1vw 0vh 0vw;
          }
          .invalid {
            @include Invalid(1.8em);
            margin: 0vh 1vw 0vh 0vw;
          }
        }
      }
    }
    .reset-login-btn-wrap {
      margin-top: 5vh;
    }
  }

  // mobile styles
  @media (max-width: $bmaxTablet) {
    form {
      section {
        width: 80vw;
      }
    }
  }
}
